

a{
    cursor: pointer;
}


.padding{
    max-width: 1180px;
    margin: 0 auto;
}

header{
    background-color: #0587a3;
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.sticky_fix{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.head_medium{
    
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    padding: 0 25px 0 25px;
}

.head_bold{
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    padding: 0 0 0 16px;
}

.head_bold_button{
    color: #21c7d2;
    background-color:#ffffff; 
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 170px;
}

.first_section{
    height: 1600px;
    padding-top: 110px;
    background: #0587a3;
    background: -moz-linear-gradient(top, #0587a3 0%, #21c7d2 100%);
    background: -webkit-linear-gradient(top, #0587a3 0%,#21c7d2 100%);
    background: linear-gradient(to bottom, #0587a3 0%,#21c7d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0587a3', endColorstr='#21c7d2',GradientType=0 );
} 

.title_base {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.title_second {
    font-weight: 300;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0 20px 0;
}


.before_picture{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 73px;
}

.link_bold_frame{
    color: #ffffff;
    background-color: #21c7d2;
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 240px;
}

.link_bold_simple{
    color: #21c7d2;
    padding-left: 35px;
    padding-right: 15px;
}

.mobile{
    width: 456px;
    overflow: hidden;
    padding-bottom: 110px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.inner{
    position: absolute;
    top: 76px;
    left: 14px;
    overflow: hidden;
    z-index: 1;
}

.mobile_form{
    z-index: 2;
    position: relative;
    margin-left: -5px;
}


.after_first{
    background-color: #eef1f2;
}

.title_third{
    color: #2c2c2c;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    padding-top: 130px;
    margin: 0;
}

.title_forth{
    color: #6e6e6e;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    padding-bottom: 85px;
}

.padding_two{
    max-width: 980px;
    margin: 0 auto;
    padding: 90px 0 90px 0;
    /* display: flex;
    justify-content: space-between; */
}

.slider{
    text-align: center;
    margin-right: 100px;
}

.in_slider{
    margin-left: 10%; 
}

/* .paginator{
    position: relative;
    float: right;
    margin-bottom: 20px;
}  */

li{
    position: relative;
    float: left;
    /* margin-right: 20px; */
}

.prev{
    margin-top: 15px;
    display: block;
    height: 20px;
    width: 20px;
    background: url('../img/back.png') no-repeat;
    }
  
.next{
    margin-top: -35px;
    display: block;
    height: 20px;
    width: 20px;
    background: url('../img/next.png') no-repeat;
    position: relative;
    left: 100%;
    }
    
  

.footer_collumn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.footer_collumn_1{
    display: flex;
    flex-direction: column;
}

.footer_collumn_2{
    display: flex;
    flex-direction: column;
}

.footer_collumn_3{
    display: flex;
    flex-direction: column;
}

.flags{
    padding-top: 110px;
}

.web{
    width: 170px;
    padding-top: 15px;
}

.ios_android{
    display: flex;
    align-items: center;
}

.downloads{
    color: #21c7d2;
    font-weight: normal;
    font-size: 14px;
    padding-left: 2px;
}

.arrow{
    padding-left: 15px;
}

.th{
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 25px;
}

.td{
    color: #2c2d2e;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 20px;
}

.elseTd{
    padding-top:100px;
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 500;
}


.last_element{
    color: #868686;
    font-size: 12px;
    font-weight: normal;
    padding: 15px 0 15px 0;
    border-top: 2px solid #dadada; 
}

.flex{
    display: flex;
    justify-content: space-between;
}



.popup {
    background: blue;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
    /* border-top: 2px solid red; */
}

.popup.hidden {
    display: none;
}