

a{
    cursor: pointer;
}

body{
    font-family: 'montserrat';
    background: #0587a3;
    background: -moz-linear-gradient(-45deg, #0587a3 0%, #21c7d2 100%);
    background: -webkit-linear-gradient(-45deg, #0587a3 0%,#21c7d2 100%);
    background: linear-gradient(135deg, #0587a3 0%,#21c7d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0587a3', endColorstr='#21c7d2',GradientType=1 );
}

.padding{
    max-width: 1180px;
    margin: 0 auto;
}

header{
    background-color: #0587a3;
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.top-container {
    align-content: space-between;
    justify-content: space-between;
  }
  
.header {
    color: #f1f1f1;
  }


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky_down {
    max-width: 1180px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.sticky_down_back{
    background-color: #3f6b9c;
}

.sticky + .title_base {
    padding-top: 130px;
  }


.first_section{
    height: 2500px;
}

.title_base {
    font-weight: normal;
    font-size: 50pt;
    color: #ffffff;
    text-align: center;
    max-width: 780;
    margin: 0 auto;
}

.title_second {
    font-weight: 300;
    font-size: 26pt;
    color: #ffffff;
    text-align: center;
}

.head_medium{
    font-weight: 500;
    font-size: 16pt;
    color: #ffffff;
    align-content: space-between;
}

.head_bold{
    font-weight: 700;
    font-size: 12pt;
    color: #21c7d2;
}

.before_picture{
    align-content: center;
    justify-content: center;
    font-weight: 700;
    font-size: 12;
}

.link_bold_frame{
    color: #ffffff;
    background: #21c7d2
}

.link_bold_simple{
    color: #21c7d2;
}

.mobile{
    width: 470px;
    overflow: hidden;
    margin: 0 auto;
    
}

.inner{
    position: absolute;
    top: 76px;
    left: 375px;
    overflow: hidden;
}

.mobile_form{
    width: 470px;
    z-index: 2;
    position: relative;
}


.toBackround{
    background-color: #eef1f2;
}

.padding_two{
    max-height: 372px;
    max-width: 980px;
    margin: 0 auto;
}

.title_third{
    max-width: 580px;
    color: #2c2c2c;
    margin: 0 auto;
    font-weight: 300;
    font-size: 40pt;
    text-align: center;

}

.title_forth{
    max-width: 800px;
    color: #6e6e6e;
    margin: 0 auto;
    font-weight: 300;
    font-size: 18pt;
    text-align: center;
}

.padding_three{
    max-width: 980px;
    color: #ffffff;
    margin: 0 auto;
    font-weight: 300;
}

footer{
    background-color: #ffffff;
}

.padding_for{
    max-width: 1180px;
    margin: 0 auto;
}

th{
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 500;
}

td{
    color: #2c2d2e;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}

.elseTd{
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 500;
}

.whitebackround{
    background-color: #ffffff;
}

.padding_five{
    max-width: 1180px;
    margin: 0 auto;
    color: #868686;
    font-size: 12px;
    font-weight: normal;
}

.popup {
    background: blue;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border-top: 2px solid red; */
}

.popup.hidden {
    display: none;
}